<!-- Inserir uma galeria de Imagens de serviços -->

<div class="container">

    <div class="container gallery-container">
        <div class="tz-gallery">
            <div id="principal">
                <ul>
                    <h3> Vídeos</h3>
                    <hr class="corLinha" style="height: 3px;" />
                    <!--
                        <div class="row justify-content-center">
                        {{#each imagem}}
                        <li class="list-group-item">
                            <a class="lightbox" title="{{legenda}}" href="{{url}}">
                                <img  src="{{url}}" border="0" alt="{{nome}}" />
                            </a>
                            <figcaption class="">{{legenda}}</figcaption>
                        </li>
                        {{/each}}
                        </div>
                        -->

                    <div id="mc-vdo-content" class="mc-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">

                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Máquina de Solda à Laser - BaishengLaser - Três tipos de Solda à Laser">Máquina
                                            de Solda à Laser - BaishengLaser - Três tipos de Solda à Laser</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/x5EV35p4Lto"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F8025TDE - Baisheng Laser Industrial de Alta Potência para Corte de Metal de grandes espessuras">F8025TDE
                                            - Baisheng Laser Industrial de Alta Potência para Corte de Metal de
                                            grandes espessuras</a>
                                    </h4>

                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/kHNYB7yYm4Y"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F6015GE com três Mandris para corte de tubos longos - Baisheng Laser Industrial para Corte de Tubos">F6015GE
                                            com três Mandris para corte de tubos longos - Baisheng Laser Industrial
                                            para Corte de Tubos</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/ycHw7oRH85s"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F6020GE - Máquina Industrial Baisheng Laser para Corte de Metal Tubo e Metalon">F6020GE
                                            - Máquina Industrial Baisheng Laser para Corte de Metal Tubo e
                                            Metalon</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/9-Tji5m9v2I"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F6015GE - Corte contínuo e padronizado de tubos - potência 1Kw - 2000-3500 peças/hora.">F6015GE
                                            - Corte contínuo e padronizado de tubos - potência 1Kw - 2000-3500
                                            peças/hora.</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/ADPflJcQsms"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Máquina Baisheng Laser 3.000w usando Nitrogênio para corte de Tela Metálica">Máquina
                                            Baisheng Laser 3.000w usando Nitrogênio para corte de Tela Metálica</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/xReTkjBTXAo"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Máquina de Solda Baisheng, popular máquina portátil para aço alumínio, latão, aço carbono e tubo">Máquina
                                            de Solda Baisheng, popular máquina portátil para aço alumínio, latão,
                                            aço carbono e tubo</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/H7o_0kuOeQ0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Baisheng Laser - Máquinas Tecnologia Fibra Óptica para corte de Metal ⚡️">Baisheng
                                            Laser - Máquinas Tecnologia Fibra Óptica para corte de Metal ⚡️</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/AtCvIM91xqs"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#" title="F6020HDE - 12000w Baisheng Laser High Techonology⚡️">F6020HDE
                                            -
                                            12000w Baisheng Laser High Techonology⚡️</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/SWBLi4D622k"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#" title="F6020GE - Baisheng Laser cortando Tubo de alumínio">F6020GE -
                                            Baisheng Laser cortando Tubo de alumínio</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/Nli4Ogl-ccQ"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F1035GE - 4.000w - Baisheng Laser Industrial para Corte de Tubos Pesados">F1035GE
                                            - 4.000w - Baisheng Laser Industrial para Corte de Tubos Pesados</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/PvqB3icPUkQ"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F4020HBDE - Baisheng Laser Industrial Fibra Óptica para Corte de Metal em Chapa e Tubos.">F4020HBDE
                                            - Baisheng Laser Industrial Fibra Óptica para Corte de Metal em Chapa e
                                            Tubos.</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/9teLApUMtR4"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F6020HDE cortando 30,00mm em Aço Carbono - Baisheng Laser Tecnologia Fibra Óptica ⚡️">F6020HDE
                                            cortando 30,00mm em Aço Carbono - Baisheng Laser Tecnologia Fibra Óptica
                                            ⚡️</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/bLwrpdQg39o"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015E - Baisheng Laser Máquina Tecnologia Fibra de Corte de Metal de Alta Eficiência e Econômica">F3015E
                                            - Baisheng Laser Máquina Tecnologia Fibra de Corte de Metal de Alta
                                            Eficiência e Econômica</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/YIzUkn4Gfls"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Baisheng Laser cortando tubo quadrado em 45o. Graus.">Baisheng
                                            Laser cortando tubo quadrado em 45o. Graus.</a>
                                    </h4>

                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/7U6D9x1pU5w"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#" title="Máquinas Tecnologia Fibra Óptica Baisheng Laser">Máquinas
                                            Tecnologia Fibra Óptica Baisheng Laser</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/cUYJHYwarc8"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Baisheng Laser Alta Tecnologia. Corte à LASER Fibra Óptica">Baisheng
                                            Laser Alta Tecnologia. Corte à LASER Fibra Óptica</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/ggb-y93l4Eo"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015E - 3.000w cortando 32m por minuto. Baisheng Laser Alta Performance.">F3015E
                                            - 3.000w cortando 32m por minuto. Baisheng Laser Alta Performance.</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/MUS31X6QXb0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Laser Potência 12kw - Baisheng Laser - Máquina Laser Fibra cortando 50mm em Aço! 2” de espessura!">Laser
                                            Potência 12kw - Baisheng Laser - Máquina Laser Fibra cortando 50mm em
                                            Aço! 2” de espessura!</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/ZQhXF48oQGA"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F1225TE - Baisheng Laser - Máquina Industrial para Corte de Metal ultra alto ( grandes espessuras)">F1225TE
                                            - Baisheng Laser - Máquina Industrial para Corte de Metal ultra alto (
                                            grandes espessuras)</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/iCGLmJDY-04"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F6020HDE 6000W 22mm Aço Carbono. Baisheng Laser Fibra Industrial para corte de Metal">F6020HDE
                                            6000W 22mm Aço Carbono. Baisheng Laser Fibra Industrial para corte de
                                            Metal</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/WsPMTdhjL_w"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F6020HDE 6000W 5mm stainless. Baisheng Laser corte de INOX . Máquina Industria de corte Laser Fibra">F6020HDE
                                            6000W 5mm stainless. Baisheng Laser corte de INOX . Máquina Industria de
                                            corte Laser Fibra</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/650RwWzCXBs"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#" title="Máquina Baisheng Laser Industrial Corte">Máquina Baisheng
                                            Laser
                                            Industrial Corte</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/Te41l-M2eko"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Shanghai Exhibition Center - F6020HDE Máquina Industrial Laser Fibra BaishengLaser">Shanghai
                                            Exhibition Center - F6020HDE Máquina Industrial Laser Fibra
                                            BaishengLaser</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/_HI67tSJbxw"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015HDE HDBE cutting machine with exchanged table and full cover">F3015HDE
                                            HDBE cutting machine with exchanged table and full cover</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/YMKlKjRt0Z4"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Baisheng Laser - Show Room da BaishengLaser Technology - este é em Guangzhou !">Baisheng
                                            Laser - Show Room da BaishengLaser Technology - este é em Guangzhou!</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/FkhnU5n1gFA"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015E  Baisheng Laaser Industrial Maquinas Robustas. Lider Mundial em Máquinas à Laser Fibra Óptica">F3015E
                                            Baisheng Laaser Industrial Maquinas Robustas. Lider Mundial em Máquinas
                                            à Laser Fibra Óptica</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/uMJc1aasA3o"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#" title="F3015HDE com 1.000w - Máquina Laser Fibra Óptica">F3015HDE
                                            com
                                            1.000w - Máquina Laser Fibra Óptica</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/uYVS_9j1hx0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F6015GE Máquina Laser Fibra corte de Tubo Perfil Laser IPG 2.000w Fibra Óptica Baisheng Laser">F6015GE
                                            Máquina Laser Fibra corte de Tubo Perfil Laser IPG 2.000w Fibra Óptica
                                            Baisheng Laser</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/vwah7Z44tmc"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#" title="F3015KE Baixo Custo Econômica Baisheng Laser">F3015KE Baixo
                                            Custo
                                            Econômica Baisheng Laser</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/Mj6RJgBsFoQ"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Alumínio 5,00mm Corte Laser Fibra BaishengLaser">Alumínio 5,00mm
                                            Corte Laser Fibra BaishengLaser</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/yNlIw2sVbXw"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="12 000w fast. Ultra Fast Speed Laser-Cut Steel Video 12KW laser YouTube Baisheng Laser IPG AUTO FOCO">12
                                            000w fast. Ultra Fast Speed Laser-Cut Steel Video 12KW laser YouTube
                                            Baisheng Laser IPG AUTO FOCO</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/2cCdht7PLAk"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="12 000w 20mm  IPG BAISHENG LASER FIBRA ÓPTICA corte de chapa grossa com precisão 12kw potência LASER">12
                                            000w 20mm IPG BAISHENG LASER FIBRA ÓPTICA corte de chapa grossa com
                                            precisão 12kw potência LASER</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/29hAozI2Uhw"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="6020 12.000w IPG LASER FIBRA Corte de chapa com 50,00mm. BAISHENG LASER . Mesa com 6.000mm x 2.000mm">6020
                                            12.000w IPG LASER FIBRA Corte de chapa com 50,00mm. BAISHENG LASER .
                                            Mesa com 6.000mm x 2.000mm</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/aVpLhKeIydA"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F4020HBDE Máquina Industrial Laser Fibra para corte de chapa e tubo Baisheng Laser">F4020HBDE
                                            Máquina Industrial Laser Fibra para corte de chapa e tubo Baisheng
                                            Laser</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/yxAgG5S-hpY"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015HDE Máquina Industrial corte laser fibra chapa grossa  tubo Alta performance qualidade superior">F3015HDE
                                            Máquina Industrial corte laser fibra chapa grossa tubo Alta performance
                                            qualidade superior</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/hA-TDRHwL3A"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015E - Latão cortado a laser, Ferramenta de corte de latão,  vídeo Corte rápido a laser  fibra">F3015E
                                            - Latão cortado a laser, Ferramenta de corte de latão, vídeo Corte
                                            rápido a laser fibra</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/6o6N69m2yQE"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015E corte laser  peças para Hardware. Máquina cabeça corte foco automático WSX. Unidade Laser IPG">F3015E
                                            corte laser peças para Hardware. Máquina cabeça corte foco automático
                                            WSX. Unidade Laser IPG</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/saSkJJfTveo"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Raycus Laser 12000W Cutting Carbon Steel 45mm in Baisheng Laser Company ( Raycus or IPG)">Raycus
                                            Laser 12000W Cutting Carbon Steel 45mm in Baisheng Laser Company (
                                            Raycus or IPG)</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/r7UunZNPf7o"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015 HDE Corte laser preciso 18mm aço carbono e 5mm Inox. Máquina  Baisheng Laser Direto da Fábrica">F3015
                                            HDE Corte laser preciso 18mm aço carbono e 5mm Inox. Máquina Baisheng
                                            Laser Direto da Fábrica</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/6IjzPjWFvdY"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015HE 1000W 3mm Máquina Laser Shuttle Table troca de mesa exchange table Baisheng Laser Industrial">F3015HE
                                            1000W 3mm Máquina Laser Shuttle Table troca de mesa exchange table
                                            Baisheng Laser Industrial</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/G1cMX0ZLwQU"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="A MAIOR FÁBRICA DE MAQUINA LASER. SEDE PRÓPIA, com mais de 100.000m2 de construção. Baisheng LASER!!">A
                                            MAIOR FÁBRICA DE MAQUINA LASER. SEDE PRÓPIA, com mais de 100.000m2 de
                                            construção. Baisheng LASER!!</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/KVdZxboYhEg"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3105KE - Econômica Máquina Corte  Baisheng Laser por fibra óptica. Corte de chapa aço aluminio INOX">F3105KE
                                            - Econômica Máquina Corte Baisheng Laser por fibra óptica. Corte de
                                            chapa aço aluminio INOX</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/T_vq-HONLGk"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015JE Máquina de corte laser para processamento de Bobina Metal. Corte  chapa laminada frio quente">F3015JE
                                            Máquina de corte laser para processamento de Bobina Metal. Corte chapa
                                            laminada frio quente</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/Mf5xhKCvN_k"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F6010GE  F6015GE Máquina Profissional corte laser para indústrias de móveis e utensílios de cozinha">F6010GE
                                            F6015GE Máquina Profissional corte laser para indústrias de móveis e
                                            utensílios de cozinha</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/qpmqbioCCew"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F4020HDE cortando aço carbono 22,00mm com Precisão e qualidade. Baisheng Laser Fibra Óptica">F4020HDE
                                            cortando aço carbono 22,00mm com Precisão e qualidade. Baisheng Laser
                                            Fibra Óptica</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/QdjvdbJubdE"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="Handheld Fiber Laser Welding Machine for Stainless Alu, Brass, CS Sheet &amp; tube, Portable Welding Gun">Handheld
                                            Fiber Laser Welding Machine for Stainless Alu, Brass, CS Sheet &amp;
                                            tube, Portable Welding Gun</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/FcaPR6iP3GU"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="ABB Robotic Arm Laser Cutting Tubes 3D. Máquina de corte e soldagem com braço robótico de 6 eixos">ABB
                                            Robotic Arm Laser Cutting Tubes 3D. Máquina de corte e soldagem com
                                            braço robótico de 6 eixos</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/Cq6rrFNO7zE"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015BE 1000W square50mm stainless1mm. Máquina INDUSTRIAL Baisheng LASER para Corte de chapa e TUBO">F3015BE
                                            1000W square50mm stainless1mm. Máquina INDUSTRIAL Baisheng LASER para
                                            Corte de chapa e TUBO</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/QJKFSmijBKk"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <h4 style="height:95px;overflow:hidden;">
                                        <a href="#"
                                            title="F3015BE 1000W stainless 3MM. Baisheng LASER Máquina Corte de chapa e Tubo metálico.">F3015BE
                                            1000W stainless 3MM. Baisheng LASER Máquina Corte de chapa e Tubo
                                            metálico.</a>
                                    </h4>
                                    <iframe height="400" width="500" src="https://www.youtube.com/embed/KQV8hl__ZBs"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>


                </ul>
            </div>

            <!--
                {{#each imagem}}

                <div class="row">
                    <li class="list-group-item">
                        <div class="col-sm-6 col-md-4">
                            
                            <a class="lightbox" href="{{url}}" id="{{_id}}">
                                <img src="{{url}}" alt="{{nome}}">
                            </a>
                            
                        </div>
                    </li>

                </div>
                {{/each}}
-->










        </div>
    </div>
</div>


{{>_rodape}}

<!-- Fim da Galeria -->

<!--
                
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{{url}}" id="{{_id}}">
                            <img src="{{url}}" alt="Foto" class="{{nome}}">
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{{url}}">
                            <img src="{{url}}" alt="Foto" class="{{nome}}">
                        </a>
                    </div>


                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <a class="lightbox" href="{{url}}">
                                <img src="{{url}}" alt="Foto" class="card-img-top">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <a class="lightbox" href="{{url}}">
                                <img src="{{url}}" alt="Foto" class="card-img-top">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <a class="lightbox" href="{{url}}">
                                <img src="{{url}}" alt="Foto" class="card-img-top">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <a class="lightbox" href="{{url}}">
                                <img src="{{url}}" alt="Foto" class="card-img-top">
                            </a>
                        </div>
                    </div>
                </div>

                    -->